/* resetator*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=================================================
                 Variáveis das cores
===================================================*/
:root{
    --color-background: #000000;
    --color-card: #111111;

    --color-primary: #ff0000; /*serve para hover também*/
    --color-primary-dark: #b30000;
    --color-primary-active: #7a0000;

    --color-text: #ffffff;
}

body{
    background-color: var(--color-background);
}

/*Tags que sempre precisam estar em negrito*/
h1, h2, a {
    font-weight:bold;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/*=================================================
                    Cabeçalho
===================================================*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap; /*Impede esmagamento*/

    padding: 20px clamp(20px, 5vw, 80px); /*clamp(Mínimo, Responsivo, Máximo)*/
    margin-bottom: 40px;

    background: 
    linear-gradient(
        to right, 
        var(--color-background),
        #1a0000,
        #400000
    );

    box-shadow: 
    0 4px 20px rgba(255,0,0,0.3);
}

/*=================================================
                 Título Principal
===================================================*/
header h1{
    font-size: 60px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: var(--color-primary);
}

.logo-titulo img{
    width: 150px;
    height: 150px;

    border: 3px solid var(--color-primary);
    border-radius: 50%;

    margin-right: 10px;
}

nav{
    display: flex;
    gap: 15px;
    margin-right: 20%;
    margin-top: 25px;
}

/*Foi usado position: realtive com top para ajustar o alinhamento visual entre o h1 e os links do nav*/

/*=================================================
            Botões de navegação do site
===================================================*/
nav a{
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-primary-dark);
    font-size: 20px;

    padding: 12px 18px;
    border-radius: 6px;

    transition: 0.3s;
    font-weight: bold;
}

/*=================================================
          Animação dos botões de navegação
===================================================*/
nav a:hover{
    background-color: var(--color-primary);
    transform: scale(1.08);

    box-shadow: 
    0 0 15px var(--color-primary);

    letter-spacing: 1px;
}

/*=================================================
          Ativação dos botões de navegação
===================================================*/
nav a:active{
    background-color: var(--color-primary-active);
    transform: translateY(2px);
    transition: 0.1s;

    transform: scale(1.07);
    box-shadow: 0 0 5px var(--color-primary-active);
    letter-spacing: 0;
}

/*=================================================
                      Cards
===================================================*/
article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #111;
    color: var(--color-text);

    flex-wrap: wrap;

    height: auto;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;

    text-align: center;
    margin-bottom: auto;
    overflow: hidden;

    
    border-radius: 5px;

    border-left: 4px solid var(--color-primary);

    box-shadow: 
    0 5px 15px rgba(0,0,0,0.5);

    transition: 0.3s;
}

/*=================================================
                 Animação dos cards
===================================================*/
article:hover{
    transform: translateY(-8px);

    box-shadow:
    0 0 30px rgba(255,0,0,0.5);
}

/*=================================================
                 Imagens dos cards
===================================================*/
.img-container{
    overflow: hidden;

    height: 180px;
    width: 100%;
}

.img-container img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    cursor: pointer;

    transition: 0.4s;
}

/*=================================================
          Animação das imagens dos cards
===================================================*/
.img-container img:hover{
    transform: scale(1.05);
}

/*Título dos blogs*/
article h2{
    background: 
    linear-gradient(
        to right,
        var(--color-primary-dark),
        #ff4d4d,
        var(--color-text)
    );

    background-size: 150%;
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

/*=================================================
                Descrição dos cards
===================================================*/
.meta{
    padding: 0px;
    font-size: 13px;
}

/*=================================================
                 Botões dos cards
===================================================*/
article a{
    background-color: var(--color-primary-dark);
    font-size: 20px;
    font-weight: bold;

    align-self: center;
    text-decoration: none;
    color: var(--color-text);

    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10%;
    cursor: pointer;
    transition: 0.3s;
}

/*=================================================
            Animação dos botões dos cards
===================================================*/
article a:hover{
    background-color: var(--color-primary);
    transform: scale(1.08);

    box-shadow: 
    0 0 15px var(--color-primary);

    letter-spacing: 1px;
}

/*=================================================
            Ativação dos botões dos cards
===================================================*/
article a:active{
    transform: translateY(2px);
    transition: 0.1s;
    background-color: var(--color-primary-active);

    transform: scale(1.07);
    box-shadow: 0 0 5px var(--color-primary-active);
    letter-spacing: 0;
}

/*=================================================
                      Rodapé
===================================================*/
footer{
    display: block;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(
        to left, 
        var(--color-background),
        #1a0000,
        #400000
    );

    box-shadow: 0 -4px 20px rgba(255,0,0,0.5);
}

/*=================================================
                      Logo
===================================================*/
footer .logo-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

/*=================================================
                Conteúdo do rodapé
===================================================*/
footer p{
    padding: 20px 40px;
    color: var(--color-text);
    text-align: center;
}

/*=================================================
                    Copyright
===================================================*/
.copyright{
    text-align: center;
}